#nav {
  background-color: #4000c7;
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.logo {
  width: 5rem;
}

.nav-link {
  margin: 0 15px;
  color: #ffffff;
  font-size: 12px;
  }